<div class="pageTopLink"> <a href="#top"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a> </div>
 <footer class="footer">
      <div class="container">
        <div class="footer__inner content has-text-centered">
         <ul>
          <li><a href="{{ site.root }}">ホーム</a></li>
          <li><a href="{{ site.root }}feature/">私たちの特長</a></li>
          <li><a href="{{ site.root }}about/">事業紹介</a></li>
          <li><a href="{{ site.root }}company/">会社情報</a></li>
          <li><a href="{{ site.root }}recruit/">採用情報</a></li>
          <li><a href="{{ site.root }}contact/">お問い合わせ</a></li>
          <li><a href="{{ site.root }}sitemap/">サイトマップ</a></li>
        </ul>
        <div class="footer__copy">&copy; {{ site.copyright }} All Rights Reserved.</div>
      </div>
 </footer>
