<section class="hero">
  <div class="hero-head">
    <div class="container has-text-centered">
      <nav class="nav">
        <div class="nav-left">
          <a class="nav-item" href="{{ site.root }}"> <img src="{{ site.root }}assets/images/base/logo.png" alt="Logo"> </a>
        </div>
        <div class="nav-right" id="nav-menu">
          <!--<div class="is-hidden-touch u-mtm">
            <img src="" alt="Logo">
          </div>-->
          <div class="header-btn is-hidden-desktop">
            <span class="header-item"><a class="button is-success" id="btn">MENU</a></span>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>
    <nav class="is-hidden-touch" id="mainNav">
      <div class="container">
        <ul class="main-nav">
          <li><a href="{{ site.root }}">ホーム</a></li> 
          <li><a href="{{ site.root }}feature/">私たちの特長</a></li> 
          <li><a href="{{ site.root }}about/">事業紹介</a></li> 
          <li><a href="{{ site.root }}company/">会社情報</a></li> 
          <li><a href="{{ site.root }}recruit/">採用情報</a></li> 
          <li><a href="{{ site.root }}contact/">お問い合わせ</a></li>
        </ul>
      </div>
    </nav>
    <div id="overlay">
      <div id="inner">
        <ul class="links">
          <li><a href="{{ site.root }}">ホーム</a></li> 
          <li><a href="{{ site.root }}feature/">私たちの特長</a></li> 
          <li><a href="{{ site.root }}about/">事業紹介</a></li> 
          <li><a href="{{ site.root }}company/">会社情報</a></li> 
          <li><a href="{{ site.root }}recruit/">採用情報</a></li> 
          <li><a href="{{ site.root }}contact/">お問い合わせ</a></li>
        </ul>
        <a href="#" class="button is-info is-outlined" id="close">閉じる</a>
      </div>
    </div>
