<section class="hero">
  <div class="hero-head">
    <div class="container has-text-centered">
      <nav class="nav">
        <div class="nav-left">
          <a class="nav-item" href="{{ site.root }}"> <img src="{{ site.root }}assets/images/base/logo.png" alt="Logo"> </a>
        </div>
        <span id="nav-toggle" class="nav-toggle">
         <span></span> 
         <span></span> 
         <span></span> 
        </span>
        <div class="nav-right nav-menu" id="nav-menu">
          <span class="nav-item"><a href="{{ site.root }}">ホーム</a></span> 
          <span class="nav-item"><a href="{{ site.root }}feature/">私たちの特長</a></span> 
          <span class="nav-item"><a href="{{ site.root }}about/">事業紹介</a></span> 
          <span class="nav-item"><a href="{{ site.root }}company/">会社情報</a></span> 
          <span class="nav-item"><a href="{{ site.root }}recruit/">採用情報</a></span> 
          <span class="nav-item"><a href="{{ site.root }}contact/" class="button is-success">お問い合わせ</a></span>
        </div>
      </nav>
    </div>
  </div>
</section>
